{% extends 'base.html' %}


{% block titulo %}Formulario de Precio Por Tipo{% endblock titulo %}

{% block cuerpo%} 

<div class="ui grid">
        
        <div class="ui text container">
            {% if not object %}
            <h2 class="ui header">Crear Precio Por Tipo</h2>
            {% else %}
            <h2 class="ui header">Editar Precio Por Tipo</h2>
            {% endif %}
            <form class="ui form" method="post" >
                {% csrf_token %}
                {{ form }}        
                <a href="{% url 'listar_precio_por_tipo' %}">CANCELAR</a>
                <button class="ui right floated button" type="submit">ACEPTAR</button>
            </form>
        </div>
</div>
{% endblock cuerpo %}

{% block js %}
<script>
$('.dropdown')
    .dropdown({
});
</script>
{% endblock js %}