{% extends 'base.html' %}


{% block titulo %}Crear habitacion{% endblock titulo %}

{% block cuerpo%} 

<div class="ui grid">
        
        <div class="ui text container">
            {% if not object %}
            <h2 class="ui header">Crear habitacion</h2>
            {% else %}
            <h2 class="ui header">Editar habitacion</h2>
            {% endif %}

            {{ forms.non_field_errors }}
            <form class="ui form" method="post">
                {% csrf_token %}
                {{ form }}
                
                {% if not object %}
                <button class="ui button" type="submit">CREAR</button>
                {% else %}
                <button class="ui button" type="submit">EDITAR</button>
                {% endif %}
                
                <a href="{% url 'listar_hotel' %}">CANCELAR</a>
            </form>
            
        </div>
</div>
{% endblock cuerpo %}

{% block js %}
<script>
$('.dropdown')
    .dropdown({
})
;
</script>
{% endblock js %}