<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Desasignar Vendedor
    </div>
    <form action="{% url 'desasignar_vendedor' hotel.id vendedor.id %}" method="post">
      <div class="content">
        <div class="description">          
          {% csrf_token %}
          <h1>¿Desea desasignar al vendedor {{ object }} del hotel?</h1>
        </div>
      </div>
      <div class="actions">
        <a href="{% url 'info_hotel' %}">Cancelar</a>
        <button class="ui positive right labeled icon button" type="submit">
          Confirmar
        <i class="checkmark icon"></i>
        </button>
      </div>
    </form>
  </div>

{% block js %}
<script type="application/javascript">
    function abrir_modal_desasignar(){
        $('.ui.modal')
            .modal('show');
    }
</script>
{% endblock %}