{% extends 'base.html' %}


{% block titulo %}Crear Localidad{% endblock titulo %}

    {% block cuerpo %}
        {% csrf_token %}
        <div class="ui grid">
            <div class="ui text container">
                <div class="ui raised very padded text container segment">  
                    <h2 class="ui header">
                        {% if request.get_full_path == "/crear_localidad/" %}
                        <h2 class="ui header">Crear localidad</h2>
                        {% else %}
                        <h2 class="ui header">Editar localidad</h2>
                        {% endif %}
                    </h2>

                    <form class="ui form" method="post">
                        {% csrf_token %}

                        <div class="field">
                            <label>Localidad</label>
                            {{form.nombre}}
                        </div>
                        
                        <div class="field">
                            <label>Provincia</label>
                            {{form.provincia}}
                        </div>
                        
                        <a href="{% url 'listar_zona' %}">CANCELAR</a>
                        <button class="ui right floated button" type="submit">ACEPTAR</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock cuerpo %}