{% extends 'base.html' %}


{% block titulo %}Crear Provincia{% endblock titulo %}

    {% block cuerpo %}
    
        <div class="ui grid">
            <div class="ui text container">
                <div class="ui raised very padded text container segment">  
                    <h2 class="ui header">
                        {% if request.get_full_path == "/crear_provincia/" %}
                        <h2 class="ui header">Crear Provincia</h2>
                        {% else %}
                        <h2 class="ui header">Editar Provincia</h2>
                        {% endif %}
                    </h2>

                    <form class="ui form" method="post">
                        {% csrf_token %}

                        <div class="field">
                            <label>Provincia</label>
                            {{form.nombre}}
                        </div>
                        
                        <div class="field">
                            <label>Pais</label>
                            {{form.pais}}
                        </div>
                        
                        <a href="{% url 'listar_zona' %}">CANCELAR</a>
                        <button class="ui right floated button" type="submit">ACEPTAR</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock cuerpo %}
