{% extends 'base.html' %}


{% block titulo %}Crear Provincia{% endblock titulo %}

    {% block cuerpo %}
    
        <div class="ui grid">
            <div class="ui text container">
                <div class="ui raised very padded text container segment">  
                    {% if form.method==GET %}
                    <h2 class="ui header">Culo Localidad</h2>
                    {% endif %}
                    <!-- {% if form.method==POST %}
                    <h2 class="ui header">Editar Localidad</h2>
                    {% endif %} -->

                    <form class="ui form" method="post">
                        {% csrf_token %}

                        <div class="field">
                            <label>Provincia</label>
                            {{form.nombre}}
                        </div>
                        
                        <div class="field">
                            <label>Pais</label>
                            {{form.pais}}
                        </div>
                        
                        <a href="{% url 'listar_zona' %}">CANCELAR</a>
                        <button class="ui right floated button" type="submit">CREAR</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock cuerpo %}
