{% extends 'base.html' %}


{% block titulo %}Listado de habitaciones{% endblock titulo %}

{% block cuerpo %}

    <div class="ui sizer vertical segment">
        <h1 class="ui huge header" >Listado de habitaciones</h1>
    </div>
    <div class="ui raised very padded text container segment">
        <table class="ui blue inverted center aligned table">
            <thead>
                <tr>
                    <th>Hotel</th>
                    <th>Número</th>
                    <th>Piso</th>
                    <th>Tipo de habitacion</th>
                    <th>OPCIÓN</th>
                </tr>
                <tbody>
                    {% for tipo_h in object_list %} 
                    <tr>
                        <td class="blue">{{tipo_h.nombre}}</td>
                        <td class="blue">{{tipo_h.descripcion}}</td>
                        <td class="blue">{{tipo_h.pasajeros}}</td>
                        <td class="blue">{{tipo_h.cuartos}}</td>
                        <td class="center aligned blue">
                            <a href="{% url 'editar_habitacion' tipo_h.id %}"><i class="edit icon"></i></a>
                            <a href="{% url 'eliminar_habitacion' tipo_h.id %}"><i class="trash icon"></i></a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <a class="ui button" href="{% url 'crear_habitacion' %}">CREAR TIPO HABITACION</a>
    </div>
{% endblock cuerpo %}