{% extends 'base.html' %}


{% block titulo %}Listado de zonas{% endblock titulo %}

{% block cuerpo %}

    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Listado de Zonas</h2>
        <table class="ui inverted center aligned table">
            <thead>
                <tr>
                    <th>Pais <a href="{% url 'crear_pais' %}"><i class=" inverted plus icon"></i></a> </th>
                    <th>Provincia <a href="{% url 'crear_provincia' %}"><i class="inverted plus icon"></i></a> </th>
                    <th>Localidad <a href="{% url 'crear_localidad' %}"><i class="inverted plus icon"></i></a></th>
                    <th>Eliminar</th>
                </tr>
                <tbody>
                    {% for localidad in object_list %} 
                    <tr class="blue">
                        <td class="selectable blue"><a href="{% url 'editar_pais' localidad.provincia.pais.id %}">{{localidad.provincia.pais.nombre}}</a></td>
                        <td class="selectable blue"><a href="{% url 'editar_provincia' localidad.provincia.id %}">{{localidad.provincia.nombre}}</a></td>
                        <td class="selectable blue"><a href="{% url 'editar_localidad' localidad.id %}">{{localidad.nombre}}</a></td>
                        <td class="center aligned blue">
                            <a href="{% url 'eliminar_localidad' localidad.id %}"><i class="trash  icon"></i></a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table> 
    </div>
{% endblock cuerpo %}