{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <title>{% block titulo %}meapru ebas?{% endblock titulo %}</title>
</head>

<body>
    <div class="ui raised very padded text container segment" style="margin-top: 200px;">
        <h2 class="ui center aligned header">¿Aprobamos?</h2>
        <div class="ui center aligned container">
            <img class="ui img" src='{% static "ppcito.png" %}'>
        </div>
        
    </div>
</body>

</html>
