<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <title>{% block titulo %}{% endblock titulo %}</title>
</head>

<body>
    <div class="ui bottom attached segment pushable">
        <div class="ui visible inverted left vertical sidebar menu">
            <a class="item">
                <i class="home icon"></i>
                Example item 1
            </a>
            <a class="item">
                <i class="block layout icon"></i>
                Example item 2
            </a>
            <a class="item">
                <i class="smile icon"></i>
                Example item 3
            </a>
            <a class="item" href="{% url 'iniciar_sesion' %}">
                <i class="power off icon"></i>
                CERRAR SESION
            </a>
        </div>
        <div class="pusher">
        <div class="ui basic segment">
            {% block cuerpo %}
            {% endblock cuerpo %}
        </div>
        </div>
    </div>

</body>

</html>


{% block js %}
<script>
// showing multiple
$('.visible.example .ui.sidebar')
    .sidebar({
        context: '.visible.example .bottom.segment'
    })
    .sidebar('hide')
;

</script>
{% endblock js %}
