{% extends 'base.html' %}


{% block titulo %}Crear zona{% endblock titulo %}

    {% block cuerpo %}
    <div class="ui grid">
        <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <h2 class="ui header">Crear zona</h2>
            <div class="ui text container">
                <form class="ui form" method="post">
                    {{ PaisForm}}
                    {{ LocalidadForm}}
                    {{ ProvinciaForm}}
                    <button class="ui button" type="submit">cREAR O EDITAR</button>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>
    {% endblock cuerpo %}
