<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <title>Login - Hotel Pulpo Rojo</title>
    <style type="text/css">
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            
        <h2 class="ui image header">
            <a href="https://imgur.com/HPWWdrQ"><img src="https://i.imgur.com/HPWWdrQ.png" title="source: imgur.com" /></a>
        </h2>

        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}


            <button class="ui fluid large black submit button" type="submit">Iniciar Sesión</button>
        </form>
    
        <div class="ui message">
            ¿Olvidaste tu contraseña? <a href="#"> Haz click aquí.</a>
        </div>
        </div>
    </div>
</body>

</html>

