<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <title>Login Example - Semantic</title>
    <style type="text/css">
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document)
        .ready(function() {
            $('.ui.form')
                .form({
                fields: {
                    email: {
                    identifier  : 'email',
                    rules: [
                        {
                        type   : 'empty',
                        prompt : 'Please enter your e-mail'
                        },
                        {
                        type   : 'email',
                        prompt : 'Please enter a valid e-mail'
                        }
                    ]
                    },
                    password: {
                    identifier  : 'password',
                    rules: [
                        {
                        type   : 'empty',
                        prompt : 'Please enter your password'
                        },
                        {
                        type   : 'length[6]',
                        prompt : 'Your password must be at least 6 characters'
                        }
                    ]
                    }
                }
                })
            ;
        })
        ;
    </script>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
        <h2 class="ui image header">
            <div class="content">
            Inicia sesion con tu cuenta
            </div>
        </h2>
        <form class="ui form">
            {% csrf_token %}
            <div class="ui stacked segment">
            
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" placeholder="Usuario">
                </div>
            </div>

            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
            </div>

            <div class="ui fluid large black submit button" >Iniciar sesion</div>
            </div>
    
            <div class="ui error message"></div>
    
        </form>
    
        <div class="ui message">
            Olvidaste tu contraseña? <a href="#"> Has click aqui.</a>
        </div>
        </div>
    </div>
</body>

</html>

