{% extends 'base.html' %}


{% block titulo %}Listado de contactos{% endblock titulo %}

{% block cuerpo %}

    <div class="ui sizer vertical segment">
        <!-- <h1 class="ui huge header" style="margin-top: 10px;" >Listado de personas</h1> -->
        <h1 class="ui huge header" >Listado de personas</h1>
    </div>
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Listado de personas</h2>
        <table class="ui single line table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo Documento</th>
                    <th>Documento</th>
                    <th>OPCIÓN</th>
                </tr>
                <tbody>
                    {% for persona in object_list %} 
                    
                    <tr>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.get_tipo_documento_display}}</td>
                        <td>{{persona.documento}}</td>
                        <td>
                            <a href="{% url 'editar_persona' persona.id %}"><i class="edit icon"></i></a>
                            <a href="{% url 'eliminar_persona' persona.id %}"><i class="trash icon"></i></a> 
                            <a href=""><i class="info circle icon"></i></a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <a href="{% url 'crear_persona' %}">CREAR PERSONA</a>
    </div>
{% endblock cuerpo %}